.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardBody {
    min-height: 50px;
    background-color: hsl(0, 0%, 90%);
}

.cardAnchor {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(57, 95, 167) !important;
}

.cardAnchor:hover {
    color: tomato !important;
}

.cardImage {
    min-height: 215px;
    max-height: 215px;
    max-width: auto;
}

.myCardContent {
    display: flex;
    font-family: Georgia, serif;
    min-height: 210px;
}

.cardContentTitle {
    display: flex;
    font-size: 1.2em;
}

.cardContainer {
    background-color: hsl(0, 0%, 95%);
    margin-bottom: 10px;
}

.cardContainer:hover {
    box-shadow: 3px 3px 8px #00b3b3;
}

.title {
    text-align: center;
    background-color: #E7E8E8;
    padding: 1em 0 1em 0;
    margin: 1em 0 1em 0;
}

.refresh:hover {
    color:#00b3b3 !important;
    text-decoration: none;
}

.filterStyle {
    background-color: #FDEBE5;
}

.contentStyle {
    background-color: #C3C7C6;
}

.rowSize {
    width: 95%;
    margin: auto;
    background-color: #C3C7C6 !important;
}

/*Two screens: full width*/
@media screen and (max-width: 3840px) {
    .cardContainer {
        flex: '0 1 calc(12.5% - 1em)';
    }
}

/*Two screens: 1.5 width*/
@media screen and (max-width: 2880px) {
    .cardContainer {
        flex: '0 1 calc(16% - 1em)';
    }
}

/*One screen: full width*/
@media screen and (max-width: 1920px) {
    .cardContainer {
        flex: '0 1 calc(25% - 2em)';
    }
}

/*Smaller PC screens*/
@media screen and (max-width: 1200px) {
    .cardContainer {
        flex: '0 1 calc(33% - 1em)';
    }

    .myCardContent {
        min-height: 225px;
    }
}

/*iPads*/
@media screen and (max-width: 768px) {
    .cardContainer {
        flex: '0 1 calc(50% - 1em)';
    }

    .myCardContent {
        min-height: 225px;
    }
}

/*Phones*/
@media screen and (max-width: 480px) {
    .cardContainer {
        flex: '0 1 calc(100% - 1em)';
    }

    .myCardContent {
        min-height: 115px;
    }
}
